body {
  font-family: "Montserrat", sans-serif;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 800;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* navigation bar */
.navbar {
  padding: 0 0 3rem;
}
.navbar .nav-nms{
  color: #fff;
}
.navbar .nav-nms:hover{
  color: #8f8f8f;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-items {
  padding: 0 18px;
}

/* Download button */
.downloadbt {
  margin: 5% 4% 5% 0;
}

/* Title image */
.title-img {
  margin-left: 10%;
  width: 20%;
  transform: rotate(25deg);
   position: absolute;

}

/* Feature Box */

#features {
  background-color: #fff;
  padding: 7% 15%;
  position: relative;

}

#features p {
  color: #8f8f8f;
}

#features i {
  font-size: 3rem;
  color: #ef8172;
  padding-bottom: 7%;
  align-items: center;
  align-content: center;
}

#features i:hover {
  color: #ff4c68;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

#features h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}

/* Testimonial section */
#testimonials {

  background-color: #ef8172;
  text-align: center;
  color: #fff;
}

.carousel-item{
  padding: 7% 15%;
}

.testimonial-img {
  border-radius: 100%;
  width: 16%;
  margin: 20px;
}

/* Press */
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

             /* Pricing */

#pricing{
  text-align: center;
  padding: 100px;
}
.card-body{
  background-color: #ef8172;
}

#but1{
  margin-top: 20px;
}

#pricing .card-header{
  background-color:#ff4c68;
}
.pricing-coloumn{
  padding: 3% 3%;
}

/* *******************************CTA*********************** */


#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 7%;
}
#cta h3{
  font-family: "Montserrat",sans-serif;
  font-weight: 900;
  color: #fff;
  padding-bottom: 3%;
  text-align: center;
}

#cta .fa-apple{
  margin-right: 4px;
  font-size: 1.5rem;
}
#cta .fa-google-play{
  margin-right: 4px;
}
#cta .btn{
  margin: 0 4%;
}

/* ************************** Footer ************************* */

#footer{
  margin: 2% 5%;
  text-align: center;
}

#footer .fa-brands{
  margin: 1.5% 10px;
  cursor: pointer;
}
#footer .fa-solid{
  margin:0 10px;
  cursor: pointer;
}




/* -----------------Media Queries------------------ */



@media (max-width:1028px) {

  #title{
    text-align: center;

  }

  .title-img{
    width: 40%;
    position: static;
    transform: rotate(0);
  }
}
